# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env

# Logs
logs/*.log
logs/debug.log*
logs/error.log*
logs/template_api.log*
